extends layout.pug

block content
	div(class="container")
		nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
			h1 Kira.GG
			button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			form(action="/summoner/data" method="post" class="form-inline")
				input(type="text" class="form-control" id="summoner_name" name="summoner_name" placeholder="Summoner Name")
				select(name="region")
					option(value="LA1") LAN
					option(value="LA2") LAS
				button(type="submit" class="btn btn-primary") Search			
			div(class="row")
				form(action="/matches/" method="post" class="form-inline")
					input(type="text" class="form-control" id="name" name="summoner_name" placeholder="Summoner Name" value="xcrow darkness")
					select(name="lane")
						option(value="BOTTOM") ADC/Support
						option(value="MID") Mid
						option(value="TOP") Top
						option(value="JUNGLE") Jungle
					select(name="role")
						option(value="DUO_CARRY") ADC
						option(value="DUO_SUPPORT") Support
						option(value="SOLO") Mid/Top/Jungle
					input(type="text" class="form-control" id="matches" name="matches" placeholder="25" value="25")
					select(name="region")
						option(value="LA2") LAS
						option(value="LA1") LAN
					button(type="submit" class="btn btn-primary") Search
